
.body{
  background :#303245;
  text-align: center;
   color: #fff;
  }
  .made-with-love {
      margin-top: 40px;
      padding: 10px;
      clear: left;
      text-align: center;
      font-size: 25px;
      font-family: arial;
      color: black;
    }
    .made-with-love i {
      font-style: normal;
      color: #F50057;
      font-size: 14px;
      position: relative;
      top: 2px;
    }
    .made-with-love a {
      color: #c6b9b9;
      text-decoration: none;
    }
    .made-with-love a:hover {
      text-decoration: underline;
    }
    .btn-two {
    color: rgb(79, 143, 71);
    transition: all 0.5s;
    text-align: center;
    position: relative; 
    padding: 2vw;
    min-height: 5vh;
    padding-bottom: 5vh;
    overflow: hidden;
  }

  .btn-two button {
 
    z-index: 10;

  }
  .btn-two span {
    z-index: 2; 
    display: block;
    position: absolute;
    width: 100%;
    height: 100%; 
  }
  .btn-two::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    transition: all 0.5s;
    border: 1px solid rgba(255,255,255,0.2);
    background-color: rgba(255,255,255,0.1);
  }
  .btn-two::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    transition: all 0.5s;
    border: 1px solid rgba(255,255,255,0.2);
    background-color: rgba(255,255,255,0.1);
  }
  .btn-two:hover::before {
    transform: rotate(-45deg);
    background-color: rgba(255,255,255,0);
  }
  .btn-two:hover::after {
    transform: rotate(45deg);
    background-color: rgba(255,255,255,0);
  }


  .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
     
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


.loaderContainer {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
  padding: 1vw;
  
}

.container {
  padding: 5vw;
}

.apply {
 
  padding: 1vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;


}
.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  text-align: center;
  padding-left: 2vw;
  padding-right: 2vw;

}

table {
  width: 90vw;
   
}
tr {
  align-items: center;
 
}

td {
  min-width: 7vw;
  align-self: center;
}

.github {
  padding: 2vw;
  font-size: 1.5rem;
  
}
.github a {
  text-decoration: none;
}

i {
  width: 5vw;
 
}

#myTable tr:hover {
  opacity: 0.5;
  background-color: #eee;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
    -moz-box-shadow: 0 6px 6px -6px #0E1119;
         box-shadow: 0 6px 6px -6px #0E1119;
}

#myTable td:hover {
 background-color: black;
  
 font-weight: bold;

}